.main-map {
    position: relative;
    flex: 1 0 auto;
    min-height: calc(100vh - 50px);
}

.main-map-leaflet {
    width: 100%;
    min-height: calc(100vh - 50px);
}

.main-map-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.5);
}

.main-map-marker-plumber {
    width: 260px !important;
    height: 64px !important;
    text-align: center;
}

.main-map-marker-plumber:hover {
    z-index: 1010 !important;
}

.main-map-marker-plumber:hover .main-map-marker-plumber-avatar-img,
.main-map-marker-plumber:hover .main-map-marker-plumber-button-available,
.main-map-marker-plumber:hover .main-map-marker-plumber-button-callback {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.55);
}

.main-map-marker-plumber-name-wrap {
    position: absolute;
    margin-top: -40px;
    width: 260px;
    margin-left: -98px;
    text-align: center;
}

.main-map-marker-plumber-name {
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    padding: 3px 7px;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.main-map-marker-plumber-name::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7.5px 0 7.5px;
    border-color: rgba(255, 255, 255, 0.8) transparent transparent transparent;

}

.main-map-marker-plumber-grid {
    display: flex;
    align-items: center;
}

.main-map-marker-plumber-avatar {
    position: relative;
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.main-map-marker-plumber-avatar:before,
.main-map-marker-plumber-avatar:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #3977e4;
}

.main-map-marker-plumber-avatar:before {
    -webkit-animation: ripple 2s linear infinite;
    animation: ripple 2s linear infinite;
}
.main-map-marker-plumber-avatar:after {
    -webkit-animation: ripple 2s linear 1s infinite;
    animation: ripple 2s linear 1s infinite;
}

.main-map-marker-plumber-avatar-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3977e4;
    width: 64px;
    height: 64px;
    border-radius: 48px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.main-map-marker-plumber-buttons {
    position: relative;
    font-size: 14px;
    text-align: left;
}

.main-map-marker-plumber-button-available {
    border-radius: 16px;
    background: url("../images/icon-chat-white.svg") 10px center no-repeat #3977e4;
    background-size: 16px;
    padding: 6px 10px 6px 30px;
    color: #fff;
    border: none;
    box-shadow: none;
    margin-bottom: 3px;
}

.main-map-marker-plumber-button-available:hover,
.main-map-marker-plumber-button-available:focus {
    background-color: #58a7ff;
}

.main-map-marker-plumber-button-available-active {
    background-color: #22b14c;
}

.main-map-marker-plumber-button-available-active:hover,
.main-map-marker-plumber-button-available-active:active {
    background-color: #27d259;
}

.main-map-marker-plumber-button-callback {
    padding: 6px 10px 6px 30px;
    border-radius: 16px;
    background: url("../images/icon-callback-white.svg") 10px center no-repeat #22b14c;
    background-size: 16px;
    color: #fff;
    border: none;
    box-shadow: none;
}

.main-map-marker-plumber-button-callback:hover,
.main-map-marker-plumber-button-callback:focus {
    background-color: #27d259;
}

.main-map-marker-user {
    position: relative;
    width: 96px !important;
    height: 64px !important;
    left: -48px;
    top: -32px;
    text-align: center;
    z-index: 1000 !important;
}

.main-map-marker-user-img {
    width: 64px;
    height: 64px;
}

.main-map-marker-user-title {
    background: rgba(255, 255, 255, 0.75);
    padding: 3px;
    border-radius: 3px;
}

.map-info-area {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 50%;
    max-width: 640px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 660px) {
    .map-info-area {
        width: 100%;
        border-radius: 0;
        font-size: 16px;
    }
}

.map-info-area-warning {
    background: rgba(255, 0, 0, 0.5);
}

.map-info-area-error {
    background: rgba(255, 0, 0, 0.5);
}